<p-breadcrumb [model]="employeeItems"></p-breadcrumb>
<p-growl [value]="msgs" sticky="sticky"></p-growl>
<form [formGroup]="userform">
<p-panel header="Employee List">
        <button pButton icon="fa fa-plus"
        (click)="addEmployees(); showDialog();" label="Employees"></button>
        <div class="searchHeader" style="float:right">
            <input type="text" pInputText placeholder="Search Employee" [(ngModel)]="searchFilter" [ngModelOptions]="{standalone: true}"/>   
            <button pButton type="button" icon="fa-search" (click)="searchEmployee()"></button>   
        </div>
<p-dataTable #dt [value]="employeeList" selectionMode="single" [pageLinks]="5"
[(selection)]="selectedEmployee" [totalRecords]="totalRecords" (onLazyLoad)="paginate($event)" [lazy]="true"
[paginator]="true" rows="10" [responsive]="true" [globalFilter]="gb">    
    <p-column styleClass="col-button">
            <ng-template let-Employee="rowData" pTemplate="body" >
                    <button type="button" pButton class="ui-button-success" (click)="editEmployees(Employee); showDialog();" icon="fa-pencil"></button>
                    <button type="button" pButton  class="ui-button-danger" (click)="deleteConfirmation(Employee); showDialog();" icon="fa-trash-o" >
                    </button>
                </ng-template></p-column>
        <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
        <p-column field="lastName" header="Last Name" [sortable]="true"></p-column>
        <p-column field="mobilePhone" header="Mobile Phone" [sortable]="true"></p-column>
        <p-column field="emailAddress" header="Email Address" [sortable]="true"></p-column>
        <p-column field="photo" header="Photo" [sortable]="true"></p-column>
        <p-column field="officePhone" header="Office Phone" [sortable]="true"></p-column>
        <p-column field="extension" header="Extension" [sortable]="true"></p-column>
      </p-dataTable>
  </p-panel>
  <p-dialog header="Employee Details" [(visible)]="display" *ngIf="selectedEmployee" modal="modal" width="500" [responsive]="true">
    <div class="ui-g">
          <label class="ui-g-12 ui-md-4" for="Employee">First Name: </label>
          <input class="ui-g-12 ui-md-8" type="text" formControlName="firstName" placeholder="Enter First Name" 
          [(ngModel)]="selectedEmployee.firstName">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['firstName'].valid&&userform.controls['firstName'].dirty">
              <i class="fa fa-close"></i>
              First is required
          </div>
    </div><br/>     
    <div class="ui-g">
          <label class="ui-g-12 ui-md-4" for="Employee">Last Name: </label>
          <input class="ui-g-12 ui-md-8" type="text" formControlName="lastName" placeholder="Enter Last Name" 
          [(ngModel)]="selectedEmployee.lastName">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['lastName'].valid&&userform.controls['lastName'].dirty">
              <i class="fa fa-close"></i>
              Last Name is required
          </div>
    </div><br/>
    <div class="ui-g">
          <label class="ui-g-12 ui-md-4" for="Employee">Mobile Phone: </label>
          <input class="ui-g-12 ui-md-8" type="text" formControlName="mobilePhone" placeholder="Enter Mobile Phone" 
          [(ngModel)]="selectedEmployee.mobilePhone">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['mobilePhone'].valid&&userform.controls['mobilePhone'].dirty">
              <i class="fa fa-close"></i>
              <span *ngIf="userform.controls['mobilePhone'].errors['required']">Mobile Phone is required</span>
              <span *ngIf="userform.controls['mobilePhone'].errors['pattern']">Must be a number</span>
          </div>
    </div><br/>
    <div class="ui-g">
          <label class="ui-g-12 ui-md-4" for="Employee">Email Address: </label>
          <input class="ui-g-12 ui-md-8" type="text" formControlName="emailAddress" placeholder="Enter Address" 
          [(ngModel)]="selectedEmployee.emailAddress">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['emailAddress'].valid&&userform.controls['emailAddress'].dirty">
              <i class="fa fa-close"></i>
              <span *ngIf="userform.controls['emailAddress'].errors['required']">Email is required</span>
              <span *ngIf="userform.controls['emailAddress'].errors['pattern']">Must be a valid email</span>
          </div>
    </div><br/>
    <div class="ui-g">
          <label class="ui-g-12 ui-md-4" for="Employee">Photo: </label>
          <input class="ui-g-12 ui-md-8" type="text" formControlName="photo" placeholder="Enter Photo" 
          [(ngModel)]="selectedEmployee.photo">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['photo'].valid&&userform.controls['photo'].dirty">
              <i class="fa fa-close"></i>
              Photo is required
          </div>
    </div><br/>
    <div class="ui-g">
          <label class="ui-g-12 ui-md-4" for="Employee">Office Phone: </label>
          <input class="ui-g-12 ui-md-8" type="text" formControlName="officePhone" placeholder="Enter Office Phone" 
          [(ngModel)]="selectedEmployee.officePhone">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['officePhone'].valid&&userform.controls['officePhone'].dirty">
              <i class="fa fa-close"></i>
              <span *ngIf="userform.controls['officePhone'].errors['required']">Office Phone is required</span>
              <span *ngIf="userform.controls['officePhone'].errors['pattern']">Must be a numbrer</span>
          </div>
    </div><br/>
    <div class="ui-g">
          <label class="ui-g-12 ui-md-4" for="Employee">Extension: </label>
          <input class="ui-g-12 ui-md-8" type="text" formControlName="extension" placeholder="Enter Extension" 
          [(ngModel)]="selectedEmployee.extension">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['extension'].valid&&userform.controls['extension'].dirty">
              <i class="fa fa-close"></i>
              <span *ngIf="userform.controls['extension'].errors['required']">Extension is required</span>
              <span *ngIf="userform.controls['extension'].errors['pattern']">Must be a numbrer</span>
          </div>
    </div>
    <p-footer>
        <div>
                    
        <button pButton icon="fa fa-plus-square"
        (click)="saveNewEmployees()" label="Save & New" [disabled]="!userform.valid" *ngIf="btnSaveNew"></button>

          <button pButton icon="fa fa-floppy-o"
          (click)="saveEmployees()" label="Save" [disabled]="!userform.valid" *ngIf="btnSave"></button>

          <button pButton icon="fa fa-floppy-o"
          (click)="deleteEmployees()" label="Delete" *ngIf="btnDelete"></button>
        
          <button pButton icon="fa fa-ban"
          (click)="cancelEmployees()" label="Cancel"></button>
        </div>
    </p-footer>
  </p-dialog>
</form>
  <p-growl [value]="msgs" life="2000"></p-growl>
  <p-confirmDialog></p-confirmDialog>