<div class="content-margin">
  <p-breadcrumb [model]="brReservation" [home]="home"></p-breadcrumb>

  <div class="ui-g">
    <p-dataTable #dt [value]="reservationList" [rows]="5" [paginator]="true" [pageLinks]="5"
      [responsive]="true" (onLazyLoad)="paginate($event)" [lazy]="true" [totalRecords]="totalRecords">
      <p-header>
        <button type="button" pButton class="float-left" (click)="addReservation()" icon="fa-plus"></button>
        Reservations
        <div class="float-right">
          <input #gb type="text" pInputText size="25" placeholder="Search" [(ngModel)]="searchFilter">
          <button pButton type="button" icon="fa-search" (click)="searchReservation()"></button>
        </div>
      </p-header>
      <p-column>
        <ng-template let-Reservation="rowData" pTemplate="body">
          <button type="button" pButton (click)="editReservation(Reservation)" icon="fa-pencil"></button>
          <button class="ui-button-danger" type="button" pButton (click)="confirmDelete(Reservation)" icon="fa-times"></button>
        </ng-template>
      </p-column>
      <p-column field="venueName" header="Venue Name" [sortable]="true"></p-column>
      <p-column field="description" header="Description" [sortable]="true"></p-column>
      <p-column field="startDate" header="Start Date" [sortable]="true"></p-column>
      <p-column field="endDate" header="End Date" [sortable]="true"></p-column>
    </p-dataTable>
  </div>
  
  <form [formGroup]="reservationForm">
      <p-dialog header="Reservation Details" [(visible)]="display" [responsive]="true" [(visible)]="display" width="800" showEffect="fade" modal="modal" *ngIf="selectedReservation">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-7">
            <label class="ui-g-12 ui-md-4" for="venueName">Venue Name*: </label>
            <input class="ui-g-12 ui-md-8" pInputText id="venueName" formControlName="venuename" placeholder="Enter Venue Name" [(ngModel)]="selectedReservation.venueName">
          </div>
          <div class="ui-g-12 ui-md-5">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!reservationForm.controls['venuename'].valid&&reservationForm.controls['venuename'].dirty">
                <i class="fa fa-close"></i>
                Venue Name is required
            </div>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-7">
            <label class="ui-g-12 ui-md-4" for="description">Description: </label>
            <textarea class="ui-g-12 ui-md-8" rows="5" cols="30" pInputTextarea id="description" formControlName="description" placeholder="Enter Venue Description" [(ngModel)]="selectedReservation.description"></textarea>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-7">
            <label class="ui-g-12 ui-md-4" for="startdate">Start Date*: </label>
            <p-calendar formControlName="startdate" [minDate]="invalidDates" [(ngModel)]="selectedReservation.startDate" [showIcon]="true"></p-calendar>
          </div>
          <div class="ui-g-12 ui-md-5">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!reservationForm.controls['startdate'].valid&&reservationForm.controls['startdate'].dirty">
                <i class="fa fa-close"></i>
                Start Date is required
            </div>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-7">
            <label class="ui-g-12 ui-md-4" for="endDate">End Date*: </label>
            <p-calendar formControlName="enddate" [minDate]="invalidDates" [(ngModel)]="selectedReservation.endDate" [showIcon]="true" readonlyInput="true"></p-calendar>
          </div>
          <div class="ui-g-12 ui-md-5">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!reservationForm.controls['enddate'].valid&&reservationForm.controls['enddate'].dirty">
                <i class="fa fa-close"></i>
                End Date is required
            </div>
          </div>
        </div>
        <div class="nav-button" *ngIf="isDelete == false&&isNewReservation==true">
          <button class="nav-button" pButton icon="fa-check" type="button" (click)="saveAndNewReservation()" [disabled]="!reservationForm.valid" label="Save and New"></button>
          <button class="nav-button" pButton icon="fa-check" type="button" (click)="saveReservation()" [disabled]="!reservationForm.valid" label="Save"></button>
          <button class="ui-button-warning nav-button" pButton icon="fa-ban" type="button" (click)="cancelReservation()" label="Cancel" [disabled]="!reservationForm.dirty"></button>
        </div>
        <div class="nav-button" *ngIf="isDelete == false&&isNewReservation==false">
          <button class="nav-button" pButton icon="fa-check" type="button" (click)="saveReservation()" [disabled]="!reservationForm.dirty" label="Save"></button>
          <button class="ui-button-warning nav-button" pButton icon="fa-ban" type="button" (click)="cancelReservation()" label="Cancel" [disabled]="!reservationForm.dirty" ></button>
        </div>
        <div class="nav-button" *ngIf="isDelete == true">
          <button class="ui-button-danger" pButton icon="fa-ban" type="button" (click)="deleteReservation()" label="Delete"></button>
        </div>
      </p-dialog>
  </form>
  <p-confirmDialog></p-confirmDialog>
</div>

