/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}
.ui-menu{
    height: 100%;
    padding: 0;
    position: fixed;
    width: 230px;
    margin-left: 0px;
    top: 80px;
}
.ui-menuitem .ui-menuitem-link{
    padding: 10px;
    border-bottom: 1px solid #B0AEAE;
}