#header {
    height: 60px;
    background-color:black;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
}
#top-logo {
    float: left;
    font-family: Arial Black;
    margin-left: 20px;
}
#top-logo h2 {
    line-height: 60px;
}
#top-menu {
    line-height: 60px;
    float: right;
    font-family: Verdana;
    margin-right: 40px;
}
#top-menu ul{
    list-style: none;
}
#top-menu ul li a {
    text-decoration: none;
    color:white;
}
h2 a{
    text-decoration: none;
    color:white;
}
.full-height{
    background: white;
}