#header {
    height: 80px;
    background-color:black;
    padding: 10px;
    color: white;
    width: 100%;
    position: fixed;
    top:0;
}
#top-logo {
    float: left;
    font-family: Poppins;
    color:  white;
    margin-left: 40px;
    line-height: 60px;
    font-size: 20px;
}
#top-menu {
    line-height: 60px;
    float: right;
    font-family: Poppins;
    margin-right: 40px;
}
#top-menu ul{
    list-style: none;
}
#top-menu ul li a {
    text-decoration: none;
    color:white;
}