<header id="header">
    <div id="top-logo">
        <i class="fa fa-book" aria-hidden="true"></i> DigiBook
    </div>
    <div id="top-menu">
        <ul>
            <li *ngIf="!this.auth.isLoggedIn()" [routerLinkActive]="['link-active']"> <a [routerLink]="['/login']">
              <span class='glyphicon glyphicon-log-in'></span> Login / Register
          </a></li>
            <li *ngIf="this.auth.isLoggedIn()"><a (click)="this.auth.logout()" [routerLink]="['/login']">
              <span class='glyphicon glyphicon-log-out'></span> 
              Logout
          </a></li>
        </ul>
    </div>
</header>
<section *ngIf="this.auth.isLoggedIn()">
    <p-menu [model]="menuItems"></p-menu>
</section>
<div class="content-margin">
    <router-outlet></router-outlet>
</div>