<p-panel header="Contact List">
    <div class="ui-g">
        <p-dataTable [value]="contactList" selectionMode="single" [(selection)]="selectedContact" (onRowSelect)="onRowSelect($event)"
            [paginator]="true" [rows]="10" [responsive]="true" [tableStyle]="{'table-layout':'auto'}">
            <p-header>Contacts</p-header>
            <p-column field="firstname" header="Contact Name" >
                <ng-template let-file="rowData" pTemplate type="body" let-i="rowIndex">
                    <span>{{contactList[i].firstname}} {{contactList[i].lastname}}</span>
                </ng-template>
            </p-column>
            <p-column field="address" header="Address" >
                <ng-template let-file="rowData" pTemplate type="body" let-i="rowIndex">
                    <span> {{contactList[i].streetAddress}}, {{contactList[i].cityAddress}}, {{contactList[i].zipCode}}</span>
                </ng-template>
            </p-column>
            <p-column field="mobilePhone" header="Mobile number" ></p-column>
            <p-column field="emailAddress" header="Email Address" ></p-column>
            <p-column field="dateActivated" header="Date Activated" >
                <ng-template let-file="rowData" pTemplate type="body" let-i="rowIndex">
                    <span>{{ contactList[i].dateActivated | date: 'MM/dd/yyyy'}}</span>
                </ng-template>
            </p-column>
            <p-column field="isActive" header="Is Active" ></p-column>

            <p-footer>
                <div class="ui-g" style="width: 100%">
                    <button pButton class="ui-g" icon="fa fa-plus" style="float:left" (click)=addContact() label="Add"></button>
                    <button pButton class="ui-g ui-button-danger" style="float:left" icon="fa-times" type="button" (click)="deleteContact()"
                        label="Delete" *ngIf="selectedContact"></button>
                </div>
            </p-footer>
        </p-dataTable>

    </div>
</p-panel>

<p-panel header="Edit Contact Details" *ngIf="selectedContact">
    <div>
        <div class="ui-g">
            <div class="ui-g-6">
                <label class="ui-g-12 ui-md-4" for="firstName">Firstname: </label>
                <input class="ui-g-12 ui-md-8" pInputText id="firstName" placeholder="Firstname" [(ngModel)]="selectedContact.firstname">
            </div>
            <div class="ui-g-6">
                <label class="ui-g-12 ui-md-4" for="lastName">Lastname: </label>
                <input class="ui-g-12 ui-md-8" pInputText id="phone" placeholder="Lastname" [(ngModel)]="selectedContact.lastname">
            </div>
        </div>
        <div class="ui-g">
            <label class="ui-g-12 ui-md-2" for="firstName">Street Address: </label>
            <input class="ui-g-12 ui-md-10" pInputText id="streetAddress" placeholder="Street Address" [(ngModel)]="selectedContact.streetAddress">
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <label class="ui-g-12 ui-md-4" for="cityAddress">City Address: </label>
                <input class="ui-g-12 ui-md-8" pInputText id="cityAddress" placeholder="City Address" [(ngModel)]="selectedContact.cityAddress">
            </div>
            <div class="ui-g-6">
                <label class="ui-g-12 ui-md-4" for="zipCode">Zip Code: </label>
                <input class="ui-g-12 ui-md-8" pInputText id="zipCode" placeholder="Zip Code" [(ngModel)]="selectedContact.zipCode">
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <label class="ui-g-12 ui-md-4" for="mobilePhone">Mobile Number: </label>
                <input class="ui-g-12 ui-md-8" pInputText id="mobileNumber" placeholder="Mobile number" [(ngModel)]="selectedContact.mobilePhone">
            </div>
            <div class="ui-g-6">
                <label class="ui-g-12 ui-md-4" for="emailAddress">Email: </label>
                <input class="ui-g-12 ui-md-8" pInputText id="emailAddress" placeholder="Email Address" [(ngModel)]="selectedContact.emailAddress">
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-6">
                <label class="ui-g-12 ui-md-4" for="emailAddress">Is Active: </label>
                <p-toggleButton [(ngModel)]="selectedContact.isActive" onLabel="Yes" offLabel="No" onIcon="fa-check-square" offIcon="fa-square" [style]="{'width':'150px'}"></p-toggleButton>
            </div>
        </div>

    </div>
    <div class="ui-g">
        <button pButton icon="fa-floppy-o" type="button" (click)="saveContact()" label="Save"></button>
        <button pButton icon="fa-ban" class="ui-button-warning" type="button" (click)="cancelContact()" label="Cancel"></button>
    </div>
</p-panel>