<p-growl [(value)]="msgs"></p-growl>
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-panel header="Employee List">
    <div class="ui-g">
    <p-dataTable #dt [value]="employeeList" [rows]="5" [paginator]="true" [pageLinks]="10" [responsive]="true" 
            (onLazyLoad)="retrieveRecord($event)" [lazy]="true" [totalRecords]="totalRecord"  [(selection)]="selectedEmployee" [loading]="loading" loadingIcon="fa-spinner" [rowsPerPageOptions]="[5,10,20]">
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-2">
                        <button pButton icon="fa fa-plus" label="Employee" style="float:left" (click)="addEmployee()"></button>
                    </div>
                    <div class="ui-g-12 ui-md-7">
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-inputgroup">
                        <input type="text" #gb pInputText placeholder="Keyword" [(ngModel)]="searchFilter">  
                        <button pButton type="button" icon="fa fa-search"></button>       
                    </div>
                  </div>
            </div>
        </p-header>
        <p-column>
            <ng-template let-rowContact="rowData" pTemplate="body">
                <button pButton type="button" (click)="editEmployee(rowContact)" icon="fa fa-pencil" class="ui-button-success"></button>
                <button pButton type="button" (click)="deleteEmployee(rowContact)" icon="fa fa-trash-o" class="ui-button-danger"></button>
            </ng-template>
        </p-column>
        <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
        <p-column field="lastName" header="Last Name" [sortable]="true"></p-column>
        <p-column field="mobilePhone" header="Mobile Phone" [sortable]="true"></p-column>
        <p-column field="emailAddress" header="Email Address" [sortable]="true"></p-column>
        <p-column field="photo" header="Photo" [sortable]="false"></p-column>
        <p-column field="officePhone" header="Office Phone" [sortable]="true"></p-column>
        <p-column field="extension" header="Extension" [sortable]="true"></p-column>
        <p-footer>
          <div class="ui-g">
          <button pButton icon="fa fa-trash-o" (click)="deleteEmployee()" label="Delete" style="float:left" *ngIf="selectedEmployee"></button>
         </div>
        </p-footer>
      </p-dataTable>
    </div>
  </p-panel>
<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-dialog header="Employee Details" [(visible)]="display" [responsive]="true" modal="true" *ngIf="selectedEmployee" class="ui-g" [closable]="false">
        <div class="ui-g-12 ui-md-6">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <span class="ui-float-label">
                            <input pInputText type="text"  id="float-input" formControlName="firstName" [(ngModel)]="selectedEmployee.firstName"/> 
                            <label for="float-input">First Name</label>
                        </span>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['firstName'].valid&&userform.controls['firstName'].dirty">
                        <i class="fa fa-close"></i>
                        Firstname is required
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <span class="ui-float-label">
                            <input pInputText type="text"  id="float-input" size="30" formControlName="lastName" [(ngModel)]="selectedEmployee.lastName"/> 
                            <label for="float-input">Last Name</label>
                        </span>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['lastName'].valid&&userform.controls['lastName'].dirty">
                            <i class="fa fa-close"></i>
                            Lastname is required
                     </div>
                    </div>
                </div>
                         <div class="ui-grid-row">
                             <div class="ui-grid-col-12">
                                 <span class="ui-float-label">
                                     <input pInputText type="text"  id="float-input" size="30" formControlName="mobilePhone" [(ngModel)]="selectedEmployee.mobilePhone"/> 
                                     <label for="float-input">Mobile Phone</label>
                                 </span>
                                 <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['mobilePhone'].valid&&userform.controls['mobilePhone'].dirty">
                                     <i class="fa fa-close"></i>
                                     <span *ngIf="userform.controls['mobilePhone'].errors['required']">Mobile Phone is required</span>
                                     <span *ngIf="userform.controls['mobilePhone'].errors['pattern']">Must be a number</span>
                                 </div>
                             </div>
                         </div>
                         <div class="ui-grid-row">
                             <div class="ui-grid-col-12">
                                 <span class="ui-float-label">
                                     <input pInputText type="text"  id="float-input" size="30" formControlName="emailAddress" [(ngModel)]="selectedEmployee.EmailAddress"/> 
                                     <label for="float-input">Street Address</label>
                                 </span>
                                 <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['emailAddress'].valid&&userform.controls['emailAddress'].dirty">
                                    <span *ngIf="userform.controls['emailAddress'].errors['required']">Email Address is required</span>
                                    <span *ngIf="userform.controls['emailAddress'].errors['pattern']">Invalid Email Address Format</span>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
                 <div class="ui-g-12 ui-md-6">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                            <!-- <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <span class="ui-float-label">
                                        <input pInputText type="text"  id="float-input" size="30" formControlName="photo" [(ngModel)]="selectedContact.photo"/> 
                                        <label for="float-input">City Address</label>
                                    </span>
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['photo'].valid&&userform.controls['photo'].dirty">
                                        <i class="fa fa-close"></i>
                                        City Address is required
                                    </div>
                                </div>
                            </div> -->
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <span class="ui-float-label">
                                        <input pInputText type="text"  id="float-input" size="30" formControlName="officePhone" [(ngModel)]="selectedEmployee.officePhone"/> 
                                        <label for="float-input">Office Phone</label>
                                    </span>
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['officePhone'].valid&&userform.controls['officePhone'].dirty">
                                            <i class="fa fa-close"></i>
                                            Office Phone is required
                                        </div>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <span class="ui-float-label">
                                        <input pInputText type="text"  id="float-input" size="30" formControlName="extension" [(ngModel)]="selectedEmployee.extension"/> 
                                        <label for="float-input">Extension</label>
                                    </span>
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['extension'].valid&&userform.controls['extension'].dirty">
                                            <i class="fa fa-close"></i>
                                            Extension is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        <p-footer>
            <div align="center">
                <button pButton type="button" *ngIf ="btnSaveNew" (click)="saveEmployee('new')" label="Save & New" icon="fa fa-floppy-o" class="ui-button-success"  [disabled]="!userform.valid"></button>
                <button pButton type="button" *ngIf ="btnSave" (click)="saveEmployee()" label="Save" icon="fa fa-floppy-o" class="ui-button-success"  [disabled]="!userform.valid"></button>
                <button pButton type="button" *ngIf ="btnDelete" (click)="deleteEmployeeConfirmation()" label="Delete" icon="fa fa-trash-o" class="ui-button-danger"></button>
                <button pButton type="button" (click)="cancelEmployee()" label="Cancel" icon="fa fa-ban" class="ui-button-danger" ></button>
            </div>
        </p-footer>
    </p-dialog>
</form>