<div class="ui-g">

  <header class="ui-g-12">
      <h1 style="float:left"><i class="fa fa-connectdevelop"></i> DigiBook</h1>
      
      <div *ngIf="!this.auth.isLoggedIn()" [routerLinkActive]="['link-active']">
        <a [routerLink]="['/login']">
          <span class='glyphicon glyphicon-log-in'></span>
          <button id="login" pButton icon="fa fa-sign-in" style="float:right" label="LogIn"></button>
        </a>
      </div>

      <div *ngIf="this.auth.isLoggedIn()" [routerLinkActive]="['link-active']">
        <a (click)="this.auth.logout()" [routerLink]="['/dashboard']">
          <span class='glyphicon glyphicon-log-out'></span>
          <button id="login" pButton icon="fa fa-sign-in" style="float:right" label="LogOut"></button>
        </a>
      </div>
  </header>
  
  <div class="ui-g-12 ui-md-2" *ngIf="this.auth.isLoggedIn()">
  <!-- <div class="ui-g-12 ui-md-2"> -->
    <p-menu [model]="menuItems"></p-menu>
  </div>

  <div class="ui-g-12 ui-md-10" *ngIf="this.auth.isLoggedIn()">
  <!-- <div class="ui-g-12 ui-md-10"> -->
    <p-breadcrumb [model]="menuItems"></p-breadcrumb>
    <router-outlet  *ngIf="this.auth.isLoggedIn()"> </router-outlet>
  </div>

  <div class="ui-g-12" *ngIf="!this.auth.isLoggedIn()">
  <!-- <div class="ui-g-12"> -->
      <router-outlet *ngIf="!this.auth.isLoggedIn()"> </router-outlet>
  </div>

</div>