TDD/BlastAsia.DigiBook/BlastsAsia.DigiBook.Domain.Models/obj/
TDD/BlastAsia.DigiBook/BlastsAsia.DigiBook.Domain.Models/bin/Debug/
TDD/BlastAsia.DigiBook/BlastAsia.DigiBook.Domain/obj/
TDD/BlastAsia.DigiBook/BlastAsia.DigiBook.Domain/bin/
TDD/BlastAsia.DigiBook/BlastAsia.DigiBook.Domain.Test/obj/
TDD/BlastAsia.DigiBook/BlastAsia.DigiBook.Domain.Test/bin/
TDD/BlastAsia.DigiBook/.vs/
TDD/BlastAsia.DigiBook/BlastAsia.DigiBook.Infrastructure.Persistence/obj/
TDD/BlastAsia.DigiBook/BlastAsia.DigiBook.Infrastructure.Persistence/bin/
TDD/BlastAsia.DigiBook/BlastAsia.DigiBook.Infrastructure.Persistence.Test/bin/
TDD/BlastAsia.DigiBook/BlastAsia.DigiBook.Infrastructure.Persistence.Test/obj/
