/* h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
} */

/* .dashboard{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.metric {
    background-color: lightseagreen;
    color: white;
}
.icon {
    font-size: 80px;
    margin: 0px;
    padding: 5px;
    background: rgba(0,0,0,.1);
}


.data {
    padding: 1em;
    vertical-align: middle;
}

.value {
    font-size: 40px;
}

.label {
    text-transform: uppercase;
}
.content-margin{
    margin-top: 90px;
    margin-left: 240px;
    margin-right: 10px;
}