<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-panel header="Pilot List">
    <div class="ui-g">
    <p-dataTable #dt [value]="pilotList" rows = "5" [paginator]="true" [pageLinks]="10" [responsive]="true" 
            (onLazyLoad)="retrieveRecord($event)" [lazy]="true" [totalRecords]="totalRecord"  [(selection)]="selectedPilot" 
            [loading]="loading" loadingIcon="fa-spinner" [rowsPerPageOptions]="[5,10]">
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-2">
                        <button pButton icon="fa fa-plus" label="Pilot" style="float:left" (click)="addPilot()"></button>
                    </div>
                    <div class="ui-g-12 ui-md-7">
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-inputgroup">
                        <input type="text" #gb pInputText placeholder="Keyword" [(ngModel)]="searchFilter">  
                        <button pButton type="button" icon="fa fa-search" (click)="search()"></button>       
                    </div>
                  </div>
            </div>
        </p-header>
        <p-column>
            <ng-template let-rowPilot="rowData" pTemplate="body">
                <button pButton type="button" (click)="editPilot(rowPilot)" icon="fa fa-pencil" class="ui-button-success"></button>
                <button pButton type="button" (click)="deletePilot(rowPilot)" icon="fa fa-trash-o" class="ui-button-danger"></button>
            </ng-template>
        </p-column>
        <p-column field="firstName" header="Name" [sortable]="false">
            <ng-template pTemplate type="body" let-pilot="rowData">
                {{ pilot.lastName+', '+pilot.firstName+' '+pilot.middleInitial}}
            </ng-template>
        </p-column>
        <p-column field="birthDate" header="Birthdate" [sortable]="false"></p-column>
        <p-column field="yearsOfExperience" header="Years Of Experience" [sortable]="false"></p-column>     
        <p-column field="pilotCode" header="Pilot Code" [sortable]="false"></p-column>
      </p-dataTable>
    </div>
  </p-panel>
<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-dialog header="Pilot Details" [(visible)]="display" [responsive]="true" modal="true" *ngIf="selectedPilot" [closable]="false">
        <div class="ui-g">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <span class="ui-float-label">
                            <input pInputText type="text" formControlName="firstName" [(ngModel)]="selectedPilot.firstName"/> 
                            <label for="float-input">First Name</label>
                        </span>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['firstName'].valid&&userform.controls['firstName'].dirty">
                        <i class="fa fa-close"></i>
                        First Name is required
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <span class="ui-float-label">
                             <input pInputText type="text" formControlName="middleName" [(ngModel)]="selectedPilot.middleName"/> 
                             <label for="float-input">Middle Name</label>
                        </span>
                    </div>
                </div>      
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <span class="ui-float-label">
                            <input pInputText type="text" formControlName="lastName" [(ngModel)]="selectedPilot.lastName"/> 
                            <label for="float-input">Last Name</label>
                        </span>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['lastName'].valid&&userform.controls['lastName'].dirty">
                        <i class="fa fa-close"></i>
                        Last Name is required
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <span class="ui-float-label">
                                <p-calendar [showIcon]="true" formControlName="birthDate" dateFormat="mm/dd/yy" [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030" [(ngModel)]="selectedPilot.birthDate" placeholder="BirthDate"></p-calendar>
                            </span>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['birthDate'].valid&&userform.controls['birthDate'].dirty">
                            <i class="fa fa-close"></i>
                            BirthDate is required
                            </div>
                        </div>
                </div>
                <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <span class="ui-float-label">
                                <p-calendar [showIcon]="true" formControlName="dateActivated" dateFormat="mm/dd/yy" [monthNavigator]="true" [yearNavigator]="true"  yearRange="1900:2030" [(ngModel)]="selectedPilot.dateActivated" placeholder="Date Activated"></p-calendar>
                            </span>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['dateActivated'].valid&&userform.controls['dateActivated'].dirty">
                            <i class="fa fa-close"></i>
                            Date Activated is required
                            </div>
                        </div>
                </div>
                <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <span class="ui-float-label">
                                <input pInputText type="text" formControlName="yearsOfExperience" [(ngModel)]="selectedPilot.yearsOfExperience"/> 
                                <label for="float-input">Year Of Experience</label>
                            </span>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['yearsOfExperience'].valid&&userform.controls['yearsOfExperience'].dirty">
                                <i class="fa fa-close"></i>
                                <span *ngIf="userform.controls['yearsOfExperience'].errors['required']">Years of Experience is required</span>
                                <span *ngIf="userform.controls['yearsOfExperience'].errors['pattern']">Integer Only</span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div align="center">
                <button pButton type="button" *ngIf ="btnSaveNew" (click)="savePilot(true)" label="Save & New" icon="fa fa-floppy-o" class="ui-button-success"  [disabled]="!userform.valid"></button>
                <button pButton type="button" *ngIf ="btnSave" (click)="savePilot(false)" label="Save" icon="fa fa-floppy-o" class="ui-button-success"  [disabled]="!userform.valid"></button>
                <button pButton type="button" *ngIf ="btnDelete" (click)="deletePilotConfirmation()" label="Delete" icon="fa fa-trash-o" class="ui-button-danger"></button>
                <button pButton type="button" (click)="cancelPilot()" label="Cancel" icon="fa fa-ban" class="ui-button-danger" ></button>
            </div>
        </p-footer>
    </p-dialog>
</form>