<p-panel header="Airport List">
  <div class="ui-g">
      <p-dataTable #dt [value]="airportList" [paginator]="true" [rows]="10" [responsive]="true" 
      [loading]="loading" loadingIcon="fa-spinner" [globalFilter]="gb">
      <p-header>      
        <div class="searchHeader" style="text-align:left">
          <i class="fa fa-search"></i>
          <input #gb type="text" pInputText size="50" placeholder="Search Airport">
        </div>
      </p-header>

      <p-column field="code" header="Code" [sortable]="true"></p-column>
      <p-column field="name" header="Name" [sortable]="true"></p-column>

    </p-dataTable>
  </div>
</p-panel>