<p-dialog header="Registration Details" [(visible)]="display" modal="modal" width="500" [responsive]="true">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
        <div class="ui-g">
            <label for="userName" class="ui-g-12 ui-md-2">User Name:</label>
            <input formControlName="userName" class="form-control" id="userName" class="ui-g-12 ui-md-10" placeholder="Enter user name"
                type="text" />
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['userName'].valid&&form.controls['userName'].dirty">
                <i class="fa fa-close"></i>
                <span *ngIf="form.controls['userName'].errors['required']">Username is required</span>
            </div>
        </div>
        <div class="ui-g">
            <label for="email" class="ui-g-12 ui-md-2">Email:</label>
            <input formControlName="emailAddress" class="form-control" id="email" class="ui-g-12 ui-md-10" placeholder="Enter your email address"
                type="text" />
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['emailAddress'].valid&&form.controls['emailAddress'].dirty">
                <i class="fa fa-close"></i>
                <span *ngIf="form.controls['emailAddress'].errors['required']">Email is required</span>
                <span *ngIf="form.controls['emailAddress'].errors['pattern']">Must be a valid email</span>
            </div>
        </div>
        <div class="ui-g">
            <label for="displayName" class="ui-g-12 ui-md-2">Display name:</label>
            <input formControlName="displayName" class="form-control" id="displayName" class="ui-g-12 ui-md-10" placeholder="Enter your display name"
                type="text" />
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['displayName'].valid&&form.controls['displayName'].dirty">
                <i class="fa fa-close"></i>
                <span *ngIf="form.controls['displayName'].errors['required']">Display name is required</span>

            </div>
        </div>
        <div class="ui-g">
            <label for="password" class="ui-g-12 ui-md-2">Password:</label>
            <input formControlName="password" class="form-control" id="password" class="ui-g-12 ui-md-10" placeholder="Enter password"
                type="password" />
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['password'].valid&&form.controls['password'].dirty">
                <i class="fa fa-close"></i>
                <span *ngIf="form.controls['password'].errors['required']">Password is required</span>

            </div>
        </div>
        <div class="ui-g">
            <label for="confirmPassword" class="ui-g-12 ui-md-2">Confirm Password:</label>
            <input formControlName="confirmPassword" class="form-control" id="confirmPassword" class="ui-g-12 ui-md-10" placeholder="Confirm password"
                type="password" />
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['confirmPassword'].valid&&form.controls['confirmPassword'].dirty">
                <i class="fa fa-close"></i>
                <span *ngIf="form.controls['confirmPassword'].errors['required']">Password is required</span>

            </div>

            <button pButton icon="fa fa-plus" type="submit" label="Register"></button>
        </div>
    </form>
</p-dialog>