<!-- <div class="login-container">
    <img id="login-img" class="login-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <h2 class="login-title">{{title}}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
        <div *ngIf="form.errors?.auth" class="error-panel help-block">
            {{form.errors.auth}}
        </div>
        <div class="form-group" [ngClass]="{ 'has-error has-feedback' :
            hasError('Username') }">
            <input type="text" required formControlName="Username" class="form-control" placeholder="Username or Email address" />
            <span *ngIf="hasError('Username')" class="glyphicon glyphicon-remove form-control-
                 feedback" aria-hidden="true"></span>
            <div *ngIf="hasError('Username')" class="help-block">
                Please insert a valid username or e-mail address.
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error has-feedback' :
                hasError('Password') }">
            <input type="password" required formControlName="Password" class="form-control" placeholder="Password" />
            <span *ngIf="hasError('Password')" class="glyphicon glyphicon-remove form-control-
                             feedback" aria-hidden="true"></span>
            <div *ngIf="hasError('Password')" class="help-block">
                Please insert a password.
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember" value="remember" />Remember me</label>
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-md btn-success btn-block btn-signin">
            Sign in
        </button>
    </form>
    <div class="login-link">
        <a href="#">
            Forgot the password?
        </a>
    </div>
    <div class="login-link">
        <a [routerLink]="['/register']">
            Don't have an account? Click here to create one!
        </a>
    </div>
</div> -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
        <h1>DigiBook</h1>
        <div *ngIf="form.errors?.auth" class="error-panel help-block">
          {{form.errors.auth}}
        </div>
        <div class="form-group" [ngClass]="{ 'has-error has-feedback' :
            hasError('Username') }">
          <div class="form-group m-t-40">
            <div class="col-xs-12">
              <input class="form-control" formControlName="Username" type="text" required="" placeholder="Username">
            </div>
          </div>
          <span *ngIf="hasError('Username')" class="glyphicon glyphicon-remove form-control-
                 feedback" aria-hidden="true"></span>
          <div *ngIf="hasError('Username')" class="help-block">
            Please insert a valid username or e-mail address.
          </div>
        </div>


        <div class="form-group" [ngClass]="{ 'has-error has-feedback' :
        hasError('Password') }">
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" formControlName="Password" type="password" required="" placeholder="Password">
            </div>
          </div>
          <span *ngIf="hasError('Password')" class="glyphicon glyphicon-remove form-control-
                     feedback" aria-hidden="true"></span>
          <div *ngIf="hasError('Password')" class="help-block">
            Please insert a password.
          </div>
        </div>



        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button [disabled]="form.invalid" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
          </div>
        </div>

        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Don't have an account?
              <a [routerLink]="['/register']" class="text-primary m-l-5">
                <b>Sign Up</b>
              </a>
            </p>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>