<div class="content-margin">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<p-panel header="Registration">
    <div class="ui-g">
        <div class="ui-g-12">
            <label for="displayName" class="ui-g-12 ui-md-2">Display Name*:</label>
            <input id="displayName" class="ui-g-12 ui-md-6" 
                formControlName="DisplayName" placeholder="Enter last name" type="text"/>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['DisplayName'].valid&&form.controls['DisplayName'].dirty">
                    <i class="fa fa-close"></i>
                    Display Name is required
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            <label for="userName" class="ui-g-12 ui-md-2">User Name*:</label>
            <input id="userName" class="ui-g-12 ui-md-6" 
            formControlName="Username" placeholder="Enter user name" type="text"/>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['Username'].valid&&form.controls['Username'].dirty">
                    <i class="fa fa-close"></i>
                    Username is required
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            <label for="Email" class="ui-g-12 ui-md-2">Email*:</label>
            <input id="Email" class="ui-g-12 ui-md-6" 
            formControlName="Email" placeholder="Enter Email" type="text"/>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['Email'].valid&&form.controls['Email'].dirty">
                    <i class="fa fa-close"></i>
                    Example: name@domain.com
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            <label for="password" class="ui-g-12 ui-md-2">Password*:</label>
            <input id="password" class="ui-g-12 ui-md-6" 
                formControlName="Password" placeholder="Enter password" type="password"/>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['Password'].valid&&form.controls['Password'].dirty">
                    <i class="fa fa-close"></i>
                    Password is required
                </div>
            </div>
            </div>
        <div class="ui-g-12">
            <label for="confirmPassword" class="ui-g-12 ui-md-2">Confirm Password*:</label>
            <input id="confirmPassword" class="ui-g-12 ui-md-6" 
                formControlName="PasswordConfirm" placeholder="Confirm password" type="password"/> 
            <div class="ui-g-12 ui-md-4">
                <div class= "ui-corner-all" *ngIf="!form.controls['PasswordConfirm'].valid&&form.controls['PasswordConfirm'].dirty">
                    <i class="fa fa-close"></i>
                    Confirm your password
                </div>
            </div>
            </div>
        <br><br>
        <div class="ui-g float-right">
            <div class ="ui-g-12">
            <button pButton type="submit" label="Register"></button>
            </div>
        </div>
    </div>
</p-panel>
</form>
</div>