.login-container {
    max-width: 600px;
    padding: 40px 40px;
    background-color: rgb(145, 145, 145);
    margin: 0 0 25px 0;
    border-radius: 10px;
    border: 1px solid #eee;
}

.login-img {

    max-width: 600px;
    padding: 40px 40px;
    background-color:  rgb(194, 180, 180);
    margin: 0 0 25px 0;
    border-radius: 10px;
    border: 1px solid #eee;

    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}
.login-title {
    max-width: 600px;
    padding: 40px 40px;
    background-color:  rgb(194, 180, 180);
    margin: 0 0 25px 0;
    border-radius: 10px;
    border: 1px solid #eee;

    margin: 15px 0;
    text-align: center;
    font-size: 1.5em;
    color: #444;
}
.login-link {
    max-width: 600px;
    padding: 40px 40px;
    background-color:  rgb(194, 180, 180);
    margin: 0 0 25px 0;
    border-radius: 10px;
    border: 1px solid #eee;

    margin-top: 10px;
    text-align: center;
}
.login-form 
    .form-group {

        max-width: 600px;
        padding: 40px 40px;
        background-color:  rgb(194, 180, 180);
        margin: 0 0 25px 0;
        border-radius: 10px;
        border: 1px solid #eee;

    margin-bottom: 8px;
}
.error-panel {

    max-width: 600px;
    padding: 40px 40px;
    background-color:  rgb(194, 180, 180);
    margin: 0 0 25px 0;
    border-radius: 10px;
    border: 1px solid #eee;

    color: #e74c3c;
    text-align: center;
}



@media (max-width: 767px) {
    .login-container {
        width: 100%;
    }
}