/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}

body{
    background-color : #FAFAFA;
}

.ui-menu{
    height: 100%;
    padding: 0;
    position: fixed;
    width: 230px;
    margin-top: 90px;
    margin-left: -10px;
}

.ui-menuitem .ui-menuitem-link{
    padding: 10px;
    border-bottom: 0px solid #B0AEAE;
}

.content-margin{
    margin-top:70px;
}

.ui-panel{
    vertical-align: 0%;
}