#header{
    height: 100px;
    width: 100%;
    background-color: #deedf7;
    position: fixed;
    display: block;
    margin: 0px;
}

#top-logo{
    margin-top: 25px;
    margin-left: 45px;
    float: left;
}

#top-logo h2{
    float: right;
}

#top-menu{
    margin: 30px;
    float: right;
}

#section-wrapper{
    margin: 0px;
}

#page-section{
    margin-top: 100px;
    margin-left: 250px;
}


