/* You can add global styles to this file, and also import other style files */
/* .icon{
    font-size: 80px;
    margin: 0px;
    padding: 2px;
    background: rgba(0,0,0,0);
}

.data{
    padding: 1em;
    vertical-align: middle;
    background: rgba(0,0,0,.1);
}

.value{
    font-size: 40px;
    text-align: center;
}

.label{
    text-transform: uppercase;
    text-align: center;
} */