.login-register{
    height:100vh;
    padding: 0;
    margin: 0;
}
.login-container {
    max-width: 600px;
    padding: 20px 20px;
    margin: 0 0 25px 0;
    border-radius: 10px;
    left:0; 
    right:0;
    margin: auto;
}

.login-img {
    max-width: 600px;
    padding: 10px 10px;
    margin: 0 0 25px 0;
    border-radius: 10px;
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}
.login-title {
    max-width: 600px;
    padding: 20px 20px;
    margin: 0 0 25px 0;
    border-radius: 10px;
    margin: 15px 0;
    text-align: center;
    font-size: 1.5em;
    color: #444;
}
.login-link {
    text-align: center;
}
.login-form .form-group {
    max-width: 600px;
    padding: 20px 20px;   
    margin: 0 0 25px 0;
    border-radius: 10px;
    margin-bottom: 8px;
    text-align: center;
}
.error-panel {

    max-width: 600px;
    padding: 10px 10px;    
    margin: 0 0 25px 0;
    border-radius: 10px;
    color: #e74c3c;
    text-align: center;
}
button{
    text-align: center;  
}

div .txtbox{
    height:50px;
}
.center{
    text-align: center;
}
@media (max-width: 767px) {
    .login-container {
        width: 100%;
    }
}