<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
    <div class="container-fluid">
        <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        <p-panel>
            <div class="ui-g">
                <p-dataTable #dt [value]="pilots" [paginator]="true" rows="10" [responsive]="true" [pageLinks]="5" [loading]="loading" loadingIcon="fa-spinner"
                    (onLazyLoad)="paginate($event)" [lazy]="true" [totalRecords]="totalRecords">
                    <p-header>
                        <div class="header-table-left">
                            <button pButton icon="fa fa-plus" (click)="showDialogToAdd()"></button>&nbsp;Pilots
                        </div>
                        <div class="header-table-right">
                            <input pInputText [(ngModel)]="searchFilter" type="text" placeholder="Search">
                            <button type="button" pButton (click)="searchPilot()" icon="fa-search"></button>
                        </div>
                    </p-header>
                    <p-column styleClass="col-button">
                        <ng-template let-pilot="rowData" pTemplate="body">
                            <button type="button" class="ui-button-warning" pButton (click)="edit(pilot)" icon="fa-pencil"></button>
                            <button type="button" class="ui-button-danger" pButton (click)="delete(pilot)" icon="fa-trash"></button>
                        </ng-template>
                    </p-column>
                    <p-column field="firstName" header="First Name"></p-column>
                    <p-column field="middleName" header="Middle Name"></p-column>
                    <p-column field="lastName" header="Last Name"></p-column>
                    <p-column field="pilotCode" header="Pilot Code"></p-column>
                    <p-column field="dateOfBirth" header="Date Of Birth">
                        <!-- <ng-template let-file="rowData" pTemplate type="body" let-i="rowIndex">
                    <span>{{pilots[i].dateOfBirth | date: 'dd/MM/yyyy'}}</span>
                </ng-template> -->
                    </p-column>
                    <p-column field="yearsOfExperience" header="Years Of Experience"></p-column>
                    <p-column field="dateActivated" header="dateActivated">
                        <!-- <ng-template let-file="rowData" pTemplate type="body" let-i="rowIndex">
                    <span>{{pilots[i].dateActivated | date: 'dd/MM/yyyy'}}</span>
                </ng-template> -->
                    </p-column>
                </p-dataTable>
            </div>
        </p-panel>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

        <form [formGroup]="userform">
            <p-dialog header="Pilot Details" [(visible)]="displayDialog" [responsive]="true" width="1000" showEffect="fade" [modal]="true">
                <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="pilot">
                    <div class="ui-g-12">
                        <label for="firstName" class="ui-md-4 ui-g-12">First Name:</label>
                        <input class="ui-md-8 ui-g-12" formControlName="firstname" id="firstName" pInputText type="text" placeholder="Enter First Name"
                            [(ngModel)]="pilot.firstName">
                        <div class="ui-grid-col-12">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['firstname'].valid&&userform.controls['firstname'].dirty">
                                <i class="fa fa-close"></i>
                                <span *ngIf="userform.controls['firstname'].errors['required']">Firstname is required</span>
                                <span *ngIf="userform.controls['firstname'].errors['maxlength']">Must be less than 60 characters</span>
                            </div>
                        </div>

                    </div>

                    <div class="ui-g-12">
                        <label for="middleName" class="ui-md-4 ui-g-12">Middle Name:</label>
                        <input class="ui-md-8 ui-g-12" formControlName="middlename" id="middleName" pInputText type="text" placeholder="Enter Middle Name"
                            [(ngModel)]="pilot.middleName">
                    </div>

                    <div class="ui-g-12">
                        <label for="lastName" class="ui-md-4 ui-g-12">Last Name:</label>
                        <input class="ui-md-8 ui-g-12" formControlName="lastname" id="lastName" pInputText type="text" placeholder="Enter Last Name"
                            [(ngModel)]="pilot.lastName">
                        <div class="ui-grid-col-12">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty">
                                <i class="fa fa-close"></i>
                                <span *ngIf="userform.controls['lastname'].errors['required']">Firstname is required</span>
                                <span *ngIf="userform.controls['lastname'].errors['maxlength']">Must be less than 60 characters</span>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <label for="dateOfBirth" class="ui-md-4 ui-g-12">Date Of Birth:</label>
                        <p-calendar [showIcon]="true" [maxDate]="maxYear" [monthNavigator]="true" [yearNavigator]="true" yearRange="{{yearRange}}" class="ui-md-8 ui-g-12" formControlName="dateofbirth" id="dateOfBirth" pInputText type="text"
                            placeholder="Enter a Date Activated" [(ngModel)]="pilot.dateOfBirth">
                        </p-calendar>
                        <div class="ui-grid-col-12">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['dateofbirth'].valid&&userform.controls['dateofbirth'].dirty">
                                <i class="fa fa-close"></i>
                                Date of birth is required
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <label for="yearsOfExperience" class="ui-md-4 ui-g-12">Years Of Exp.:</label>
                        <input class="ui-md-8 ui-g-12" formControlName="yearsofexperience" id="yearsOfExperience" pInputText pKeyFilter="num" type="text" placeholder="Enter Years Of Experience"
                            [(ngModel)]="pilot.yearsOfExperience">
                        <div class="ui-grid-col-12">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['yearsofexperience'].valid&&userform.controls['yearsofexperience'].dirty">
                                <i class="fa fa-close"></i>
                                <span *ngIf="userform.controls['yearsofexperience'].errors['required']">Year of Exp. is required</span>
                                <span *ngIf="userform.controls['yearsofexperience'].errors['min']">Minimun of 10 years</span>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <label for="dateActivated" class="ui-md-4 ui-g-12">Date Activated:</label>
                        <p-calendar [showIcon]="true" class="ui-md-8 ui-g-12" formControlName="dateactivated" id="dateActivated" pInputText type="text"
                            placeholder="Enter Date Activated" [(ngModel)]="pilot.dateActivated">
                        </p-calendar>
                        <div class="ui-grid-col-12">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['dateactivated'].valid&&userform.controls['dateactivated'].dirty">
                                <i class="fa fa-close"></i>
                                Date activated is required
                            </div>
                        </div>
                    </div>

                </div>
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix" *ngIf="!isDelete">
                        <button type="button" class="ui-button-warning" pButton icon="fa-close" (click)="cancel()" label="Cancel"></button>
                        <button type="button" pButton icon="fa-check" (click)="save(0)" [disabled]="!userform.valid" label="Save"></button>
                        <button type="button" pButton icon="fa-check" (click)="save(1)" [disabled]="!userform.valid" label="Save and New" *ngIf="isEdit"></button>
                    </div>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix" *ngIf="isDelete">
                        <button type="button" class="ui-button-warning" pButton icon="fa-close" (click)="cancel()" label="Cancel"></button>
                        <button type="button" class="ui-button-danger" pButton icon="fa-warning" (click)="deletePilot()" label="Delete"></button>
                    </div>
                </p-footer>
            </p-dialog>
        </form>
    </div>
</div>