<p-panel>
  <div class="ui-g">
    <p-dataTable #dt [value]="appointmentList" [rows]="10" [paginator]="true" [pageLinks]="5" [responsive]="true" (onLazyLoad)="paginate($event)"
      [lazy]="true" [totalRecords]="totalRecords">
      <p-header>
        <div class="addHeader">
          <button type="button" pButton icon="fa-plus" (click)="addAppointment()"></button> &nbsp;Appointments
        </div>
        <div class="searchHeader">
          <!-- <p-calendar [(ngModel)]="dateFilter" selectionMode="range" readonlyInput="true" placeholder="Search..."></p-calendar> -->
          <input type="text" pInputText placeholder="Search Guest or Host" [(ngModel)]="searchFilter" />
          <button pButton type="button" icon="fa-search" (click)="searchAppointment()"></button>
        </div>
      </p-header>
      <p-column field="appointmentId">
        <ng-template pTemplate type="body" let-Appointment="rowData">
          <span>
            <button pButton type="button" icon="fa-pencil" (click)="onRowSelect(Appointment)" ></button>
            <button pButton type="button" icon="fa-trash" (click)="btnDelete(Appointment)"></button>
          </span>
        </ng-template>
      </p-column>
      <p-column field="appointmentDate" header="Appointment Date"></p-column>
      <p-column field="guestName" header="Guest Name"></p-column>
      <p-column field="hostName" header="Host Name"></p-column>
      <p-column field="startTime" header="Start Time"></p-column>
      <p-column field="endTime" header="End Time"></p-column>
      <p-column field="isCancelled" header="Is Cancelled?"></p-column>
      <p-column field="isDone" header="Is Done?"></p-column>
      <p-column field="notes" header="Notes"></p-column>
    </p-dataTable>
  </div>
</p-panel>
<br/>
<p-confirmDialog></p-confirmDialog>
<form [formGroup]="userform">
  <p-dialog [(visible)]="selectedAppointment" modal="modal" width="1000" [closable]="isNewAppointment === false && isDeleteAppointment === false ? true : false"
    [responsive]="true" *ngIf="selectedAppointment" [draggable]="false" [resizable]="true">
    <p-header>
      {{isNewAppointment ? "New Appointment" : isDeleteAppointment ? "Delete Appointment" : "Edit Appointment"}}
    </p-header>
    <div class="ui-g ui-g-responsive ui-fluid">
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <div class="ui-g-12 ui-md-2"><label for="input-appointmentDate">Appointment Date</label></div>
        <div class="ui-g-12 ui-md-4">
          <p-calendar [(ngModel)]="dateActivated" [minDate]="minDate" formControlName="appoitmentDate" readonlyInput="true"></p-calendar>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['appoitmentDate'].valid && 
            userform.controls['appoitmentDate'].dirty">
            <i class="fa fa-close"></i> Appointment Date is Required
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <div class="ui-g-12 ui-md-2"><label>Guest</label></div>
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="contactList" [(ngModel)]="selectedContact" formControlName="guestName" placeholder="Select Guest"
            optionLabel="fullName" ></p-dropdown>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['guestName'].valid && 
            userform.controls['guestName'].dirty">
            <i class="fa fa-close"></i> Guest is Required
          </div>
        </div>
        <div class="ui-g-12 ui-md-2"><label>Host</label></div>
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="employeeList" [(ngModel)]="selectedEmployee" formControlName="hostName" placeholder="Select Host"
            optionLabel="fullName"></p-dropdown>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['hostName'].valid && 
            userform.controls['hostName'].dirty">
            <i class="fa fa-close"></i> Host is Required
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <div class="ui-g-12 ui-md-2"><label for="input-startTime">Start TIme</label></div>
        <div class="ui-g-12 ui-md-4">
          <input pInputText id="input-startTime" [(ngModel)]="selectedAppointment.startTime" placeholder="HH:mm:ss" formControlName="startTime"
          />
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['startTime'].valid && 
            userform.controls['startTime'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="userform.controls['startTime'].errors['required']">Start Time is required</span>
            <span *ngIf="userform.controls['startTime'].errors['pattern']">Invalid Start Time Format</span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-2"><label for="input-endTime">End Time</label></div>
        <div class="ui-g-12 ui-md-4">
          <input pInputText id="input-endTime" [(ngModel)]="selectedAppointment.endTime" placeholder="HH:mm:ss" formControlName="endTime"
          />
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['endTime'].valid && 
            userform.controls['endTime'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="userform.controls['endTime'].errors['required']">End Time is required</span>
            <span *ngIf="userform.controls['endTime'].errors['pattern']">Invalid End Time Format</span>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <div class="ui-g-12 ui-md-2"><label for="input-isCancelled">Is Cancelled?</label></div>
        <div>
          <p-selectButton class="ui-g-12 ui-md-2" [options]="isTrueFalse" formControlName="cancelled" [(ngModel)]="selectedCancelled"></p-selectButton>
        </div>
        <div class="ui-g-12 ui-md-2"></div>
        <div class="ui-g-12 ui-md-2"><label for="input-isDone">Is Done?</label></div>
        <div>
          <p-selectButton class="ui-g-12 ui-md-2" [options]="isTrueFalse" formControlName="done" [(ngModel)]="selectedDone"></p-selectButton>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <div class="ui-g-12 ui-md-2"><label for="input-description">Notes</label></div>
        <div class="ui-g-12 ui-md-10">
          <textarea class="ui-g-12 ui-md-12" pInputTextArea id="input-notes" [rows]=5 [(ngModel)]="selectedAppointment.notes" formControlName="notes"
            placeholder="Enter Appointment Notes" style="resize:none"></textarea>
        </div>
      </div>
    </div>
    <div class="centerButtons">
      <button pButton type="button" icon="fa-file" label="Save & New" class="ui-button-success" (click)="btnSave(true)" [disabled]="!userform.valid" *ngIf="isNewAppointment"></button>
      <button pButton type="button" icon="fa-floppy-o" label="Save" class="ui-button-success" (click)="btnSave(false)" [disabled]="!userform.valid" *ngIf="!isDeleteAppointment"></button>
      <button pButton type="button" icon="fa-check" label="Ok" class="ui-button-success" (click)="btnOk()" *ngIf="isDeleteAppointment === true"></button>
      <button pButton type="button" icon="fa-ban" label="Cancel" class="ui-button-warning" (click)="btnCancel()"></button>
    </div>
  </p-dialog>
</form>