.float-left{
    float: left;
    margin-top: -0.40%;
    background-color: #e78f08;
    color: white;
    border-color: #e78f08;
}
.float-right{
    float: right;
    margin-top: -0.40%;
}
.content-margin{
    margin-top: 80px;
}