<header id="header">
    <div id="top-logo">
        <h2><i class="fa fa-book" aria-hidden="true"></i> 
           DigiBook
        </h2>
    </div>
    <div id="top-menu">
        <ul>
            <li *ngIf="!this.auth.isLoggedIn()"[routerLinkActive]="['link-active']"> <a [routerLink]="['/login']">
              <span class='glyphicon glyphicon-log-in'></span> Login / Register
          </a></li>
            <li *ngIf="this.auth.isLoggedIn()"><a (click)="this.auth.logout()" [routerLink]="['/login']">
              <span class='glyphicon glyphicon-log-out'></span> 
              Logout
          </a></li>
          <li>
         
          </li>
          </ul>
    </div>
</header>

<div id="content-margin" class="ui-g">
     <div *ngIf="this.auth.isLoggedIn()" class="ui-g-12 ui-md-2 full-height">
         <!-- <p-menu [model]="menuItems"></p-menu> -->
         <p-menu [model]="menuItems"></p-menu>
     </div>
     <div class="ui-g-12 ui-md-10">
        <router-outlet></router-outlet>
     </div>
 </div>