<p-breadcrumb [model]="brAppointment" [home]="home"></p-breadcrumb>

  <div class="ui-g">
    <p-dataTable [value]="appointmentList" selectionMode="single" [(selection)]="selectedAppointment" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="4" [responsive]="true">
      <p-header>
        <button type="button" pButton class="float-left" (click)="addAppointment()" icon="fa-plus"></button>
        Appointments
        <div class="float-right">
            <input #gb type="text" pInputText size="25" placeholder="Search">
            <button name="btnSearch" type="button" pButton icon="fa-search"></button>
        </div>
      </p-header>
      <p-column>
          <ng-template let-Appointment="rowData" pTemplate="body">
              <button type="button" pButton (click)="editAppointment(Appointment)" icon="fa-pencil"></button>
              <button class="ui-button-danger" type="button" pButton (click)="confirmDelete(Appointment)" icon="fa-times"></button>
          </ng-template>
      </p-column>
      <p-column field="appointmentDate" header="Appointment Date" [sortable]="true"></p-column>
      <p-column field="guestName" header="Guest ID" [sortable]="true"></p-column>
      <p-column field="hostName" header="Host ID" [sortable]="true"></p-column>
      <p-column field="startTime" header="Start Time" [sortable]="true"></p-column>
      <p-column field="endTime" header="End Time" [sortable]="true"></p-column>
      <p-column field="isCancelled" header="Is Cancelled" [sortable]="true"></p-column>
      <p-column field="isDone" header="Appointment Done" [sortable]="true"></p-column>
      <p-column field="notes" header="Notes" [sortable]="true"></p-column>
    </p-dataTable>
  </div>

<form [formGroup]="appointmentForm">
<p-dialog header="Appointment Details" [(visible)]="display" [responsive]="true" showEffect="fade" modal="modal" *ngIf="selectedAppointment">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-7">
      <label for="appointmentDate">Appointment Date*: </label>
      <p-calendar [(ngModel)]="selectedAppointment.appointmentDate" formControlName="appointmentdate" [showIcon]="true"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-5">
      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!appointmentForm.controls['appointmentdate'].valid&&appointmentForm.controls['appointmentdate'].dirty">
          <i class="fa fa-close"></i>
          Appointment Date is required
      </div>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12 ui-md-6">
      <label class="ui-g-12 ui-md-4" for="guestId">Guest ID*: </label>
      <p-dropdown [options]="guestList" [(ngModel)]="selectedGuest" optionLabel="firstName" formControlName="guestid"  placeholder="Select Guest"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!appointmentForm.controls['guestid'].valid&&appointmentForm.controls['guestid'].dirty">
          <i class="fa fa-close"></i>
          Guest is required
      </div>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12 ui-md-6">
      <label class="ui-g-12 ui-md-4" for="hostId">Host ID*: </label>
      <p-dropdown [options]="hostList" [(ngModel)]="selectedHost" optionLabel="firstName" formControlName="hostid" placeholder="Select Host"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!appointmentForm.controls['hostid'].valid&&appointmentForm.controls['hostid'].dirty">
          <i class="fa fa-close"></i>
          Host is required
      </div>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12 ui-md-6">
      <label class="ui-g-12 ui-md-4" for="startTime">Start Time*: </label>
      <input class="ui-g-12 ui-md-8" pInputText id="startTime" placeholder="Start Time" formControlName="starttime" [(ngModel)]="selectedAppointment.startTime">
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!appointmentForm.controls['starttime'].valid&&appointmentForm.controls['starttime'].dirty">
          <i class="fa fa-close"></i>
          Start Time is required
      </div>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12 ui-md-6">
      <label class="ui-g-12 ui-md-4" for="endTime">End Time*: </label>
      <input class="ui-g-12 ui-md-8" pInputText id="endTime" placeholder="End Time" formControlName="endtime" [(ngModel)]="selectedAppointment.endTime">
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!appointmentForm.controls['endtime'].valid&&appointmentForm.controls['endtime'].dirty">
          <i class="fa fa-close"></i>
          Firstname is required
      </div>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12 ui-md-6">
      <label class="ui-g-12 ui-md-4" for="isCancelled">Is Cancelled: </label>
      <p-inputSwitch onLabel="true" offLabel="false" value="false" formControlName="iscancelled" [(ngModel)]="selectedAppointment.isCancelled"></p-inputSwitch>
    </div>
    <div class="ui-g-12 ui-md-6">
      <label class="ui-g-12 ui-md-4" for="isDone">Is Done: </label>
      <p-inputSwitch onLabel="true" offLabel="false" value="false" formControlName="isdone" [(ngModel)]="selectedAppointment.isDone"></p-inputSwitch>
    </div>
    <div class="ui-g-12 ui-md-6">
      <label class="ui-g-12 ui-md-4" for="notes">Notes: </label>
      <textarea rows="5" cols="30" id="notes" [(ngModel)]="selectedAppointment.notes" formControlName="notes" pInputTextarea></textarea>
    </div>
  </div>

  <div class="ui-g" *ngIf="isDelete == false">
    <button pButton icon="fa-check" type="button" [disabled]="!appointmentForm.valid" (click)="saveAndNewAppointment()" label="Save and New" *ngIf="isNewAppointment == true"></button>
    <button pButton icon="fa-check" type="button" [disabled]="!appointmentForm.valid" (click)="saveAppointment()" label="Save"></button>
    <button class="ui-button-warning" pButton icon="fa-ban" type="button" [disabled]="!appointmentForm.valid" (click)="cancelAppointment()" label="Cancel"></button>
  </div>
  <div class="ui-g" *ngIf="isDelete == true"> 
      <button class="ui-button-danger" pButton icon="fa-ban" type="button" (click)="deleteAppointment()" label="Delete"></button>
  </div>
</p-dialog>
</form>

<p-confirmDialog></p-confirmDialog>