/* .icon {
        font-size: 80px;
        margin: 0px;
        padding: 5px;
        background: rgba(0,0,0,.1);
    } */

    #wrapper{
        left:0;
        top:0;
        position: fixed;
        z-index: 1;
    }