<div class="ui-g">
  <header class="ui-g-12">
    <div id="top-logo">
      <h2><i class="fa fa-book" aria-hidden="true"></i>&nbsp;Brand Logo</h2>
    </div>
    <div id="top-menu">
      <ul>
        <li *ngIf="!this.auth.isLoggedIn()" [routerLinkActive]="['link-active']"> 
          <a [routerLink]="['/login']">
            <span class='glyphicon glyphicon-log-in'></span> Login
          </a> |
          <a [routerLink]="['/register']">
            <span class='glyphicon glyphicon-log-in'></span> Register
          </a>
        </li>
        <li *ngIf="this.auth.isLoggedIn()">
          <a (click)="this.auth.logout()" style="cursor: pointer;">
            <span class='glyphicon glyphicon-log-out'></span> Hi , Logout
          </a>
        </li>
      </ul>
    </div>
  </header>
  <div class="ui-g-12 ui-md-2">
    <p-menu [model]="menuItems"></p-menu>
  </div>
  <div class="ui-g-12 ui-md-10">
    <router-outlet></router-outlet>
  </div>
</div>