<p-panel header="Employee List">
  <div class="ui-g">
    <p-dataTable [value]="employeeList" [rows]="10" [paginator]="true" [pageLinks]="5" [responsive]="true" (onRowSelect)="onRowSelect($event)"
      selectionMode="single" [(selection)]="selectedEmployee">
      <p-header>Employees</p-header>
      <p-column field="firstName" [sortable]="true" header="First Name"></p-column>
      <p-column field="lastName" [sortable]="true" header="Last Name"></p-column>
      <p-column field="mobilePhone" [sortable]="true" header="Mobile Phone"></p-column>
      <p-column field="emailAddress" [sortable]="true" header="Email Address"></p-column>
      <p-column field="extension" [sortable]="true" header="Extension"></p-column>
      <p-column field="officePhone" [sortable]="true" header="Office Phone"></p-column>
      <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
          <button type="button" pButton icon="fa-plus" style="float:left" (click)="addEmployee()" label="Add">
          </button>
        </div>
      </p-footer>
    </p-dataTable>
  </div>
</p-panel>
<br/>
<form [formGroup]="userform">
  <p-panel header="Employee Details" *ngIf="selectedEmployee">
    <div class="ui-g ui-g-responsive ui-fluid">
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <div class="ui-g-12 ui-md-2"><label for="input-fname">First Name</label></div>
        <div class="ui-g-12 ui-md-4">
          <input pInputText id="input-fname" formControlName="firstName" [(ngModel)]="selectedEmployee.firstName" placeholder="Enter Employee First Name" />
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['firstName'].valid && 
            userform.controls['firstName'].dirty">
            <i class="fa fa-close"></i> First Name is Required
          </div>
        </div>
        <div class="ui-g-12 ui-md-2"><label for="input-lname">Last Name</label></div>
        <div class="ui-g-12 ui-md-4">
          <input pInputText id="input-lname" [(ngModel)]="selectedEmployee.lastName" 
            placeholder="Enter Employee Last Name" formControlName="lastName"/>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['lastName'].valid && 
            userform.controls['lastName'].dirty">
            <i class="fa fa-close"></i> Last Name is Required
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <div class="ui-g-12 ui-md-2"><label for="input-mphone">Mobile No.</label></div>
        <div class="ui-g-12 ui-md-4">
          <input pInputText id="input-mphone" [(ngModel)]="selectedEmployee.mobilePhone" 
            placeholder="Enter Mobile Phone Number" formControlName="mobilePhone"/>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['mobilePhone'].valid && 
            userform.controls['mobilePhone'].dirty">
            <i class="fa fa-close"></i> Mobile Number is Required
          </div>
        </div>
        <div class="ui-g-12 ui-md-2"><label for="input-email">Email Address</label></div>
        <div class="ui-g-12 ui-md-4">
          <input pInputText id="input-email" [(ngModel)]="selectedEmployee.emailAddress" 
            placeholder="Enter Email Address" formControlName="emailAddress"/>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['emailAddress'].valid && 
            userform.controls['emailAddress'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="userform.controls['emailAddress'].errors['required']">Email Address is required</span>
            <span *ngIf="userform.controls['emailAddress'].errors['pattern']">Invalid Email Address Format</span>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <div class="ui-g-12 ui-md-2"><label for="input-extension">Extension No.</label></div>
        <div class="ui-g-12 ui-md-4">
          <input pInputText id="input-extension" [(ngModel)]="selectedEmployee.extension" 
            placeholder="Enter Extension Number" type="number" formControlName="extension"/>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['extension'].valid && 
            userform.controls['extension'].dirty">
            <i class="fa fa-close"></i> Extension is Required
          </div>
        </div>
        <div class="ui-g-12 ui-md-2"><label for="input-ophone">Office No.</label></div>
        <div class="ui-g-12 ui-md-4">
          <input pInputText id="input-ophone" [(ngModel)]="selectedEmployee.officePhone" 
            placeholder="Enter Office Phone Number" formControlName="officePhone" />
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['officePhone'].valid && 
            userform.controls['officePhone'].dirty">
            <i class="fa fa-close"></i> Office Phone is Required
          </div>
        </div>
      </div>
    </div>
    <button pButton type="button" label="Save" class="ui-button-success" (click)="btnSave()" [disabled]="!userform.valid"></button>
    <button pButton type="button" label="Cancel" class="ui-button-warning" (click)="btnCancel()"></button>
    <button pButton type="button" label="Delete" class="ui-button-danger" (click)="btnDelete()"></button>
  </p-panel>
</form>