<header>
  <h2><i class="fa fa-book" aria-hidden="true"></i>&nbsp; DigiBook</h2>
  <div class="header-right">
    <ul>
      <li>
        <button pButton type="button" label="Login" *ngIf="!this.auth.isLoggedIn()" [routerLinkActive]="['link-active']" [routerLink]="['/login']" class="button"></button>
        <button pButton type="button" label="Register" *ngIf="!this.auth.isLoggedIn()" [routerLink]="['/register']" class="button"></button>
      </li>
      <li>
        <button pButton type="button" label="Logout" *ngIf="this.auth.isLoggedIn()" (click)="this.auth.logout()" [routerLink]="['/login']" class="button"></button>
       
      </li>
    </ul>
  </div>
</header>


<div class="ui-g">
  <div *ngIf="this.auth.isLoggedIn()" class="ui-g-12 ui-md-2">
    <p-menu [model]="menuItems"></p-menu>
  </div>

  <div class="ui-g-12 ui-md-10">
    <router-outlet></router-outlet>
  </div>
</div>