<header class="main-header">
  <h2>
    <i class="fa fa-book" aria-hidden="true"></i>&nbsp;DigiBook</h2>
  <div id="left-header">
    <ul>
      <li *ngIf="!this.auth.isLoggedIn()" [routerLinkActive]="['link-active']">
        <a [routerLink]="['/login']">
          <span class='glyphicon glyphicon-log-in'></span> Login / Register
        </a>
        <button pButton type="button" label="Login" class="ui-button-secondary"></button>
      </li>
      <li *ngIf="this.auth.isLoggedIn()">
        <a (click)="this.auth.logout()">
          <span class='glyphicon glyphicon-log-out'></span> Logout
        </a>
      </li>
    </ul>
  </div>
</header>


<div class="ui-g">
  <div *ngIf="this.auth.isLoggedIn()" class="ui-g-12 ui-md-2">
    <p-menu [model]="menuItems" ></p-menu>
  </div>
  <div class="ui-g-12 ui-md-10">
    <router-outlet></router-outlet>
  </div>
</div>