<!-- <header class="main-header">
  <h2>
    <i class="fa fa-book" aria-hidden="true"></i>&nbsp;DigiBook</h2>
  <div id="left-header">
    
    <button *ngIf="this.auth.isLoggedIn()" pButton type="button" (click)="this.auth.logout()" [routerLink]="['/login']" label="Log out"
      class="ui-button-warning"></button>
  </div>
</header> -->

<div id="main-wrapper">
  <router-outlet></router-outlet>
</div>

<!-- <div class=""> -->
<!-- <div *ngIf="this.auth.isLoggedIn()" >
    <p-menu [model]="menuItems"></p-menu>
  </div> -->
<!-- <div class="page-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>

</div> -->