<p-panel header="Reigstration">

  <div class="ui-g">
    <label for="firstName" class="ui-g-12 ui-md-2">First Name:</label>
    <input id="firstName" class="ui-g-12 ui-md-10" 
        placeholder="Enter first name"  type="text"/>
  </div>
  <div class="ui-g">
      <label for="lastName" class="ui-g-12 ui-md-2">Last Name:</label>
      <input id="lastName" class="ui-g-12 ui-md-10" 
          placeholder="Enter last name"  type="text"/>
    </div>
    <div class="ui-g">
        <label for="userName" class="ui-g-12 ui-md-2">User Name:</label>
        <input id="userName" class="ui-g-12 ui-md-10" 
            placeholder="Enter user name"  type="text"/>
      </div>
      <div class="ui-g">
          <label for="password" class="ui-g-12 ui-md-2">Password:</label>
          <input id="password" class="ui-g-12 ui-md-10" 
              placeholder="Enter password"  type="password"/>
        </div>
        <div class="ui-g">
            <label for="confirmPassword" class="ui-g-12 ui-md-2">Confirm Password:</label>
            <input id="confirmPassword" class="ui-g-12 ui-md-10" 
                placeholder="Confirm password"  type="password"/> 
          </div>
  </p-panel>