<!-- <div class="content-margin">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<p-panel header="Registration">
    <div class="ui-g">
        <div class="ui-g-12">
            <label for="displayName" class="ui-g-12 ui-md-2">Display Name*:</label>
            <input id="displayName" class="ui-g-12 ui-md-6" 
                formControlName="DisplayName" placeholder="Enter Display Name" type="text"/>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['DisplayName'].valid&&form.controls['DisplayName'].dirty">
                    <i class="fa fa-close"></i>
                    Display Name is required
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            <label for="userName" class="ui-g-12 ui-md-2">User Name*:</label>
            <input id="userName" class="ui-g-12 ui-md-6" 
            formControlName="Username" placeholder="Enter user name" type="text"/>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['Username'].valid&&form.controls['Username'].dirty">
                    <i class="fa fa-close"></i>
                    Username is required
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            <label for="Email" class="ui-g-12 ui-md-2">Email*:</label>
            <input id="Email" class="ui-g-12 ui-md-6" 
            formControlName="Email" placeholder="Enter Email" type="text"/>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['Email'].valid&&form.controls['Email'].dirty">
                    <i class="fa fa-close"></i>
                    Example: name@domain.com
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            <label for="password" class="ui-g-12 ui-md-2">Password*:</label>
            <input id="password" class="ui-g-12 ui-md-6" 
                formControlName="Password" placeholder="Enter password" type="password"/>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['Password'].valid&&form.controls['Password'].dirty">
                    <i class="fa fa-close"></i>
                    Password is required
                </div>
            </div>
            </div>
        <div class="ui-g-12">
            <label for="confirmPassword" class="ui-g-12 ui-md-2">Confirm Password*:</label>
            <input id="confirmPassword" class="ui-g-12 ui-md-6" 
                formControlName="PasswordConfirm" placeholder="Confirm password" type="password"/> 
            <div class="ui-g-12 ui-md-4">
                <div class= "ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['PasswordConfirm'].valid&&form.controls['PasswordConfirm'].dirty">
                    <i class="fa fa-close"></i>
                    Password mismatch.
                </div>
            </div>
            </div>
        <br><br>
        <div class ="ui-g-12 ui-md-2 ui-md-offset-10">
            <button pButton type="button" label="Register" [disabled]="!form.valid"></button>
        </div>
    </div>
</p-panel>
</form>
</div> -->

<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register2.jpeg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" [formGroup]="form" (ngSubmit)="onSubmit()"><br>
                <!-- <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a> -->
                <div class="title-center">
                    <h1>DigiBook<i class="fa fa-book" aria-hidden="true"></i></h1></div>
                <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="DisplayName" type="text" required="" placeholder="Display Name">
                        <div class="help-block" *ngIf="!form.controls['DisplayName'].valid&&form.controls['DisplayName'].dirty">
                            <i class="fa fa-close"></i>
                            Display Name is required
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="Username" type="text" required="" placeholder="Username">
                        <div class="help-block" *ngIf="!form.controls['Username'].valid&&form.controls['Username'].dirty">
                            <i class="fa fa-close"></i>
                            Username is required
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="Email" type="text" required="" placeholder="Email">
                        <div class="help-block" *ngIf="!form.controls['Email'].valid&&form.controls['Email'].dirty">
                            <i class="fa fa-close"></i>
                            Example: name@domain.com
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="Password" type="password" required="" placeholder="Password">
                        <div class="help-block" *ngIf="!form.controls['Password'].valid&&form.controls['Password'].dirty">
                            <i class="fa fa-close"></i>
                            Password is required
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="PasswordConfirm" type="password" required="" placeholder="Confirm Password">
                        <div class= "help-block" *ngIf="!form.controls['PasswordConfirm'].valid&&form.controls['PasswordConfirm'].dirty">
                            <i class="fa fa-close"></i>
                            Password mismatch.
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                        </div>
                    </div>
                </div> -->
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign Up</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>Already have an account? <a [routerLink]="['/login']" class="text-info m-l-5"><b>Sign In</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>