<p-panel header="Employees">

  <div class="ui-g">
      <label for="firstname" class="ui-g-12 ui-md-2">Firstname:</label>
      <input id="firstname" class="ui-g-12 ui-md-10" placeholder="Enter an Firstname" type="email" />
  </div>

  <div class="ui-g">
    <label for="lastname" class="ui-g-12 ui-md-2">Lastname:</label>
    <input id="lastname" class="ui-g-12 ui-md-10" placeholder="Enter an Lastname" type="email" />
  </div>

  <div class="ui-g">
      <label for="email" class="ui-g-12 ui-md-2">Email Address:</label>
      <input id="email" class="ui-g-12 ui-md-10" placeholder="Enter an Email Address" type="email" />
  </div>

  <div class="ui-g">
      <button id="submit" class="ui-g-12 ui-md-offset-2 ui-md-10">Submit</button>
  </div>

  <div class="ui-g">
      <label for="statistic" class="ui-g-12 ui-md-2">Task Accomplished:</label>
      <div id="statistic" class="ui-g-12 ui-md-10 ui-g-nopad">
          <div class="icon ui-g-5">
              <i class="fa fa-cloud-download"></i>
          </div>
          <div class="data ui-g-7">
              <div class="value">90</div>
              <div class="label">Percent</div>
          </div>
      </div>
  </div>

</p-panel>